<div class="jumbotron mt-4">
  <h1 class="display-4">Bienvenidos a la APP</h1>
  <p class="lead">HTML5</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam est error omnis tempora dignissimos vitae at mollitia quam illo aperiam, hic architecto nam, autem suscipit dolorem neque delectus commodi similique?</p>
  <a class="btn btn-primary btn-lg"  href="/programax" role="button">Link al ProgramaX (REACT)</a>
</div>
